<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Clip1</title>
</head>
<body>
    <div id="vue-app2">
        <button type="button" v-on:click="like=!like">Like</button> 
        <h1 v-if="like">สวัสดี</h1>
    <ul>
        <li v-for="result in product">{{result}}</li>
    </ul>
    <ul>
        <li v-for="emp in employee">{{emp.name}}|{{emp.age}}</li>
    </ul>
    </div>
    <script src="app2.js"></script>
</body>
</html>