<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>4EVT</title>
</head>
<body>
  <div id="vue-app">
    <span>ชื่อพนักงาน</span>
    <input v-model="newData.empName">
    <span>เงินเดือน</span>
    <input v-model="newData.salary">
    <br><br>
    <button @click="addEmp">บันทึกข้อมูล</button>
    <br>
    <ul>
      <li v-for="emp in empGroup">
        {{emp.empName}}ได้เงินเดือน{{emp.salary}}
      </li>
    </ul>
  
  </div>
  <script src="app.js"></script>
</body>
</html>